*{
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

body {
    
}

#home-page {
    background-image: url('../img/splash-screen.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}